.banner{
    background: url("https://images.unsplash.com/photo-1545048702-79362596cdc9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    width: 100%;      /*圖片RWD設定*/
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:"Microsoft JhengHei";
    color: white;
    font-size: 50px;
    text-shadow: 0.1em 0.1em 0.2em rgb(54, 23, 23);
}

.introduce{
    display: flex;
    margin: auto;
    margin-bottom: 40px;
}

.myImg{
    flex: none;   /*固定的設定*/
    width: 35%;
    margin: auto;
}

img{
    display: block;
    margin: auto;
    width: 50%;
    clip-path: circle(50%)   /*將圖片變成圓形*/
}

.myIntroduce{
    flex: none;
    width: 65%;
    margin-right: 30px;
}

.myTitle{
    margin: auto;
}

.about{
    background: url("https://images.unsplash.com/photo-1622544841807-9ca22fddaba2?q=80&w=1989&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    width: 100%;
    font-size: 20px;
    text-align: center;
    background-color: antiquewhite;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 0;
    letter-spacing: 2px; /*文字間距*/
    line-height: 32px; /*文字行距*/
}

.question:first-of-type{   /*第一個question屬性*/
    margin-top: 20px;
    margin-bottom:0;
    height: 15%;
}

.question{
    flex-wrap: wrap;
    font-weight:bold;
    margin:auto auto 10px auto;
    text-align: center;
    padding:0 30px ;
}

.answer:first-of-type{
    margin-bottom:0;
    height: auto;
}

.answer{
    margin:auto 30px 20px 30px;
    font-size: 17.5px;
    text-align: center;
    
}

@media(max-width:500px){
    .banner{
        font-size: 35px;
        height: 300px;
    }

    .about{
        font-size: 15px;
        padding: 16px 0;
        line-height: 26px; /*文字行距*/
    }

    .introduce{
        flex-wrap: wrap;  /*換行*/
        margin-bottom: 20px;
    }

    .myImg{
        width: 90%;
    }

    .myIntroduce{
        width: 95%;
        margin:30px auto 0px auto;
    }

    .question{
        margin:auto 20px 5px 20px;
    }



    .answer{
        margin-bottom: 18px;
        font-size: 13px;
    }


}